:host() {
  display: block;
  padding: 8px 16px;
  box-sizing: border-box;
}

.mat-expansion-panel-header.mvp {
  padding-left: 0;
}

.mat-expansion-panel-header-title {
  align-items: center;
}

.mat-expansion-panel-header-title .mat-icon {
  color: var(--mvp-gold);
}

.mat-expansion-panel-header-description span:first-of-type {
  padding-right: 4px;
}

.mat-expansion-panel-header-description span + span {
  border-left: 1px solid rgba(0, 0, 0, 0.34);
  margin-right: 4px;
  padding-left: 4px;
  box-sizing: border-box;
}
