:host() {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.column {
  border-left: 1px solid transparent;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

.column:not(.avatar) + .column {
  border-left-color: #000000;
}

.column.avatar {
  max-width: 160px;
}

.column.avatar img {
  object-fit: none;
  height: 100%;
  width: auto;
}

.stat-container {
  max-width: 160px;
  text-align: center;
}

.stat-container + .stat-container {
  margin-top: 16px;
}

.stat-container .title {
  font-size: 12px;
  text-transform: uppercase;
}

.stat-container .stat {
  font-size: 14px;
  font-weight: 500;
}
