<div *ngIf="!!roundStats" class="round-select">
  <mat-chip-list *ngIf="!telemetryLoading">
    <mat-chip *ngFor="let round of pRoundStats;" color="accent" matTooltip="Round {{ round.ordinal+1 }}" [selected]="selected === round.ordinal"
      (click)="selectStat(round)">
      <span *ngIf="!round.stats.mvp">{{ round.ordinal+1 }}</span>
      <mat-icon *ngIf="round.stats.mvp">star</mat-icon>
    </mat-chip>
    <mat-chip color="accent" matTooltip="Totals" [selected]="selected === participant.id" (click)="selectStat(participant)">T</mat-chip>
  </mat-chip-list>
  <brh-loader *ngIf="telemetryLoading"></brh-loader>
</div>
<div class="stats">
  <div class="column avatar">
    <img src="{{ participant.champion.id | assetRoute:'assets/champions':'png' }}" alt="{{ participant.champion.name }}" />
  </div>
  <div class="column">
    <div class="stat-container">
      <div class="title">Damage Done</div>
      <div class="stat">{{ selectedStat.damageDone }}</div>
    </div>
    <div class="stat-container">
      <div class="title">Healing Done</div>
      <div class="stat">{{ selectedStat.healingDone }}</div>
    </div>
    <div class="stat-container">
      <div class="title">Disables Done</div>
      <div class="stat">{{ selectedStat.disablesDone }}</div>
    </div>
  </div>
  <div class="column">
    <div class="stat-container">
      <div class="title">Damage Received</div>
      <div class="stat">{{ selectedStat.damageReceived }}</div>
    </div>
    <div class="stat-container">
      <div class="title">Healing Received</div>
      <div class="stat">{{ selectedStat.healingReceived }}</div>
    </div>
    <div class="stat-container">
      <div class="title">Disables Received</div>
      <div class="stat">{{ selectedStat.disablesReceived }}</div>
    </div>
  </div>
  <div class="column">
    <div class="stat-container">
      <div class="title">Energy Used</div>
      <div class="stat">{{ selectedStat.energyUsed }}</div>
    </div>
    <div class="stat-container">
      <div class="title">Energy Gained</div>
      <div class="stat">{{ selectedStat.energyGained }}</div>
    </div>
    <div class="stat-container">
      <div class="title">Energy Efficiency</div>
      <div class="stat">{{ energyEfficiency(selectedStat) }}</div>
    </div>
  </div>
</div>
