:host() {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.stats {
  display: flex;
  flex-direction: row;
}

.round-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 8px;
}

.round-select .mat-chip {
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.round-select .mat-icon {
  font-size: 12px;
  height: 34px;
  line-height: 31px;
  transform: scale(1.65) translateY(2px);
  width: 32px;
}

.column {
  border-left: 1px solid transparent;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

.column:not(.avatar) + .column {
  border-left-color: #000000;
}

.column.avatar {
  max-width: 160px;
}

.column.avatar img {
  object-fit: none;
  height: 100%;
  width: auto;
}

.stat-container {
  max-width: 160px;
  text-align: center;
}

.stat-container + .stat-container {
  margin-top: 16px;
}

.stat-container .title {
  font-size: 12px;
  text-transform: uppercase;
}

.stat-container .stat {
  font-size: 14px;
  font-weight: 500;
}
