<mat-card>
  <mat-card-title-group>
    <mat-card-title>
      <div>
        <span>{{ match.matchType }}</span>
        <span>
          <mat-icon>timer</mat-icon> {{ match.duration | secToMin }}
        </span>
      </div>
      <div *ngIf="!singleMatch" class="open-match">
        <button mat-button (click)="openMatch.emit(match)" matTooltip="View Match">
          View Match
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
      <div *ngIf="singleMatch" class="match-date">{{ match.createdAt | date:'EEE, M/d/yy' }}</div>
    </mat-card-title>
    <mat-card-subtitle *ngIf="match.map">
      <span>{{ match.map.name }}</span>
      <div *ngIf="singleMatch" class="match-date">{{ match.createdAt | date:'shortTime' }}</div>
    </mat-card-subtitle>
    <div class="score-rounds">
      <div class="score">
        <span class="team1">{{ match.rosters[0].score }}</span> /
        <span class="team2">{{ match.rosters[1].score }}</span>
      </div>
      <mat-chip-list class="rounds">
        <mat-chip *ngFor="let round of match.rounds; let i = index" [ngClass]="'team' + round.winningTeam" selected="true">{{ i+1 }}</mat-chip>
      </mat-chip-list>
    </div>
    <img *ngIf="match.map" src="{{ match.map.id | assetRoute:'assets/maps':'jpg' }}" alt="">
  </mat-card-title-group>
  <mat-card-content>
    <brh-team-roster *ngFor="let roster of match.rosters; let i = index" [ngClass]="{'theme-accent2': !!i }" [singleMatch]="singleMatch"
      [teamNum]="i" [roster]="roster" [player]="player" (viewProfile)="viewProfile.emit($event)"></brh-team-roster>
  </mat-card-content>
</mat-card>
