:host() {
  display: block;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

brh-menu {
  flex: 1 1 0;
  padding: 0 16px;
}

brh-search-bar {
  display: none;
}

@media all and (min-width: 46.8em) {
  brh-search-bar {
    display: block;
  }
}