<div class="feature">
  <img src="/assets/f2p-promo_main.png">
</div>
<div class="pillar-container">
  <div class="pillar">
    <div class="panel">
      <h2>Some Classy thing</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elementum, nunc non porttitor dignissim, nibh diam scelerisque
        tellus, at dignissim orci velit sed quam. Integer eu odio dui. Maecenas ligula nisl, lacinia sed ligula vitae, accumsan
        tincidunt nisi. Sed cursus dui in ullamcorper tincidunt. Cras placerat tellus id convallis gravida. Ut consectetur
        quam magna, non sodales orci facilisis at. Cras ultricies sodales congue. Donec dapibus dolor sit amet leo vehicula
        dignissim.
      </p>
    </div>
  </div>
  <div class="pillar">
    <div class="panel">
      <h2>Another Classy thing</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elementum, nunc non porttitor dignissim, nibh diam scelerisque
        tellus, at dignissim orci velit sed quam. Integer eu odio dui. Maecenas ligula nisl, lacinia sed ligula vitae, accumsan
        tincidunt nisi. Sed cursus dui in ullamcorper tincidunt. Cras placerat tellus id convallis gravida. Ut consectetur
        quam magna, non sodales orci facilisis at. Cras ultricies sodales congue. Donec dapibus dolor sit amet leo vehicula
        dignissim.
      </p>
    </div>
  </div>
  <div class="pillar">
    <div class="panel">
      <h2>The Last Classy thing</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elementum, nunc non porttitor dignissim, nibh diam scelerisque
        tellus, at dignissim orci velit sed quam. Integer eu odio dui. Maecenas ligula nisl, lacinia sed ligula vitae, accumsan
        tincidunt nisi. Sed cursus dui in ullamcorper tincidunt. Cras placerat tellus id convallis gravida. Ut consectetur
        quam magna, non sodales orci facilisis at. Cras ultricies sodales congue. Donec dapibus dolor sit amet leo vehicula
        dignissim.
      </p>
    </div>
  </div>
</div>
