:host() {
  display: flex;
  flex-direction: row;
}

.info {
  align-items: center;
  display: flex;
  flex: 1 1 0;
}

.info h1 {
  margin-right: 16px;
}

.info .mat-chip {
  font-size: 16px;
  padding: 6px 12px;
}

.summary {
  display: flex;
  flex-direction: row;
  padding: 0.67em 0;
  align-self: flex-end;
}

.summary .title {
  border-right: 1px solid #000000;
  font-size: 20px;
  font-weight: 500;
  margin-right: 32px;
  padding-right: 32px;
}

.summary > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 32px;
}

.summary .stat div:first-of-type {
  font-weight: 500;
  text-transform: uppercase;
}