<div class="info">
  <h1>{{ player.name }}</h1>
  <div class="level">Level {{ player.stats.accountLevel }}</div>
</div>
<div *ngIf="player.stats" class="summary">
  <h3 class="title">Lifetime Stats:</h3>
  <div class="stat">
    <div>Total Wins</div>
    <div>{{ player.stats.wins }}</div>
  </div>
  <div class="stat">
    <div>Total Losses</div>
    <div>{{ player.stats.losses }}</div>
  </div>
  <div class="stat">
    <div>Win Rate</div>
    <div>{{ winRate }}</div>
  </div>
  <div class="stat">
    <div>Time Played</div>
    <div>{{ player.stats.timePlayed | secToMin }}</div>
  </div>
</div>
