<div class="info">
  <h1>{{ player.name }}</h1>
  <div>
    <mat-chip *ngIf="player.stats" color="primary" selected="true">lvl {{ player.stats.accountLevel }}</mat-chip>
  </div>
  <div *ngIf="player.stats" class="summary">
    <!--<h3 class="title">Lifetime Stats:</h3>-->
    <div class="stat">
      <div class="stat__title">Wins / Losses</div>
      <div class="stat__data">
        <brh-winlose [wins]="player.stats.wins" [losses]="player.stats.losses" [showRate]="false"></brh-winlose>
      </div>
    </div>
    <div class="stat">
      <div class="stat__title">Win Rate</div>
      <div class="stat__data">{{ winRate }}</div>
    </div>
    <div class="stat">
      <div class="stat__title">Time Played</div>
      <div class="stat__data">{{ player.stats.timePlayed | secToMin }}</div>
    </div>
  </div>

</div>
