:host() {
  display: flex;
  flex-wrap: wrap;
}

.mat-toolbar {
  justify-content: flex-end;
}

.champion-search {
  box-sizing: border-box;
  margin-bottom: 8px;
  min-width: 300px;
  padding: 16px;
}

.mat-form-field {
  width: 100%;
}

:host() ::ng-deep .mat-form-field-prefix {
  align-self: center;
  display: flex;
}

:host() ::ng-deep .mat-icon {
  height: 0.5em;
}

:host() ::ng-deep .mat-input-container.mat-focused .mat-icon {
  color: #3f51b5;
}

.champion-container {
  box-sizing: border-box;
  padding: 8px;
  width: 20%;
}

.champion-hero {
  /* Gotta important here. :( */
  margin: -24px -24px 16px -24px !important;
  overflow: hidden;
  position: relative;
  width: calc(100% + 48px);
}

.champion-hero img {
  filter: brightness(85%);
}

.champion-hero brh-winlose {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  position: absolute;
  font-family: 'Montserrat';
  /*text-shadow: 1px 1px 2px rgba(255,255,255,.55);*/
  /*text-shadow: 2px 2px 0px #fff, -2px -2px 0px white, 2px -2px 0px white, -2px 2px 0px white;*/
  -webkit-text-stroke: 2px white;

  /* 50% - 1/2 font-size */
  top: calc(50% - 24px);
}
.champion-hero brh-winlose .wins {
  transform: translateY(-20px);
  display: inline-block;
}
.champion-hero brh-winlose .losses {
  transform: translateY(20px);
  display: inline-block;
}
.mat-card {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.mat-card ::ng-deep .mat-card-title-group > div {
  text-align: center;
  width: 100%;
}

.mat-card .mat-card-title {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.mat-card .mat-card-title span {
  margin-right: 8px;
}

.mat-card-content {
  flex: 1 0 auto;
  font-size: 16px;
}

.match-stats {
  display: flex;
}

dl {
  display: flex;
  flex-wrap: wrap;
}

dt, dd {
  display: flex;
  width: 50%;
  margin: 0 0 8px;
}
