<mat-toolbar>
  <div class="champion-sort">
    <mat-button-toggle-group (change)="trackSort($event)" #championSort="matButtonToggleGroup">
      <mat-button-toggle value="-xp" checked="true">
        Level
      </mat-button-toggle>
      <mat-button-toggle value="-characterWins">
        Wins
      </mat-button-toggle>
      <mat-button-toggle value="-winRate">
        Win Rate
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="champion-search">
    <mat-form-field floatPlaceholder="never">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="search" placeholder="Find Champion" #championSearch>
      <button mat-button *ngIf="championSearch.value" matSuffix mat-icon-button aria-label="Clear" (click)="championSearch.value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</mat-toolbar>
<div *ngFor="let champion of player.stats.champions | orderBy: championSort.value | filterBy: ['champion.name']: championSearch.value"
  class="champion-container">
  <mat-card *ngIf="champion.champion">
    <div class="champion-hero">
      <img src="{{ champion.champion.id | assetRoute:'champions':'png' }}" alt="{{ champion.champion.name }}" />
      <brh-winlose [wins]="champion.characterWins" [losses]="champion.characterLosses" [showRate]="false"></brh-winlose>
    </div>
    <mat-card-title-group>
      <mat-card-title>
        <span>{{ champion.champion.name }}</span>
        <mat-chip color="accent" selected="true">lvl {{ champion.level || 0 }}</mat-chip>
      </mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <dl>
        <dt>Total Played</dt>
        <dd>
          {{ champion.totalGames }}
        </dd>
        <dt>of all games</dt>
        <dd>
          {{ champion.ofTotal }}
        </dd>
        <dt>Win Rate</dt>
        <dd>
          {{ champion.winRate }}
        </dd>
      </dl>
    </mat-card-content>
  </mat-card>
</div>
