<mat-toolbar>
  <div class="champion-sort">
    <mat-button-toggle-group #championSort="matButtonToggleGroup">
      <mat-button-toggle value="-xp" checked="true">
        Level
      </mat-button-toggle>
      <mat-button-toggle value="-characterWins">
        Wins
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="champion-search">
    <mat-form-field floatPlaceholder="never">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="search" placeholder="Find Champion" #championSearch>
      <button mat-button *ngIf="championSearch.value" matSuffix mat-icon-button aria-label="Clear" (click)="championSearch.value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</mat-toolbar>
<div *ngFor="let champion of player.stats.champions | orderBy: championSort.value | filterBy: ['champion.name']: championSearch.value"
  class="champion-container">
  <mat-card *ngIf="champion.champion">
    <img mat-card-image src="{{ champion.champion.id | assetRoute:'champions':'png' }}" alt="{{ champion.champion.name }}" />
    <mat-card-title-group>
      <mat-card-title>{{ champion.champion.name }}
        <mat-chip color="accent" [selected]="true">lvl {{ champion.level || 0 }}</mat-chip>
      </mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <dl>
        <dt>All Games</dt>
        <dd>
          <brh-winlose [wins]="champion.characterWins" [losses]="champion.characterLosses"></brh-winlose>
        </dd>
      </dl>
    </mat-card-content>
  </mat-card>
</div>
