:host() {
  display: block;
  padding: 8px;
  box-sizing: border-box;
}

.mat-card {
  border-top: 4px solid transparent;
  box-sizing: border-box;
}

.mat-card.winner {
  border-top-color: gold;
}

.mat-card-content {
  word-wrap: break-word;
}

.participants .mat-card + .mat-card {
  margin-top: 8px;
}

.participants .mat-card {
  border-left: 4px solid transparent;
  box-sizing: border-box;
  display: block;
}

.participants .mat-card.mvp {
  border-left-color: gold;
}

.participants .mat-card-content {
  word-wrap: break-word;
}
