<mat-tab-group (selectedTabChange)="tabChange.emit($event)">
  <mat-tab label="Overview">
    <brh-summary [player]="player" [teams]="teams"></brh-summary>
    <brh-champions [player]="player"></brh-champions>
  </mat-tab>
  <mat-tab label="Teams">
    <brh-teams [player]="player" [teams]="teams"></brh-teams>
  </mat-tab>
  <mat-tab label="Match History">
    <brh-match-history (openMatch)="openMatch.emit($event)" (matchSelected)="matchSelected.emit($event)" (viewProfile)="viewProfile.emit($event)"
      (reloadMatches)="reloadMatches.emit($event)" [player]="player" [matches]="matches" [match]="match">
    </brh-match-history>
  </mat-tab>
</mat-tab-group>
