<mat-tab-group (selectedTabChange)="tabChange.emit($event)" (selectedIndexChange)="currentTab = $event">
  <mat-tab label="Overview">
    <brh-summary *ngIf="currentTab === 0" (viewProfile)="viewProfile.emit($event)" [player]="player" [teams]="teams" [isTeamsLoading]="isTeamsLoading"></brh-summary>
    <brh-champions *ngIf="currentTab === 0" [player]="player"></brh-champions>
  </mat-tab>
  <mat-tab [disabled]="isTeamsLoading">
    <ng-template mat-tab-label>
      Teams
      <brh-loader *ngIf="isTeamsLoading"></brh-loader>
    </ng-template>
    <brh-teams *ngIf="currentTab === 1" (viewProfile)="viewProfile.emit($event)" [player]="player" [teams]="teams"></brh-teams>
  </mat-tab>
  <mat-tab label="Match History">
    <brh-match-history *ngIf="currentTab === 2" (openMatch)="openMatch.emit($event)" (matchSelected)="matchSelected.emit($event)"
      (viewProfile)="viewProfile.emit($event)" (reloadMatches)="reloadMatches.emit($event)" [player]="player" [matches]="matches"
      [match]="match">
    </brh-match-history>
  </mat-tab>
</mat-tab-group>
