<div class="roster">
  <mat-card [ngClass]="{'winner': data.attributes.won === 'true'}">
    <mat-card-header *ngIf="data.relationships.team.data">
      <img mat-card-avatar src="{{ data.relationships.team }}" alt="TEAM AVATAR">
      <mat-card-title>
        <h2>{{ data.relationships.team.data.name }}</h2>
      </mat-card-title>
      <mat-card-subtitle>ELO Rank</mat-card-subtitle>
    </mat-card-header>
    <mat-card-header *ngIf="!data.relationships.team.data">
      <mat-card-title>
        <h2>Team: {{data.relationships.participants[0].attributes.stats.side}}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- {{data|json}} -->
      <div class="participants">
        <h3>Players</h3>
        <mat-card *ngFor="let participant of data.relationships.participants">
          <mat-card-content>
            <!-- {{participant | json}} -->
            <ul>
              <li>Player: {{ participant.relationships.player.data.id }}</li>
              <li>Champion: {{ participant.attributes.actor }}</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
