<div class="card-container" *ngFor="let participant of roster.participants">
  <mat-card>
    <img mat-card-image src="{{ participant.champion.id | assetRoute:'champions':'png' }}" alt="{{ participant.champion.name }}"
    />
    <mat-card-title-group>
      <mat-card-title>{{ participant.champion.name }}</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <brh-participant-stats [participant]="participant"></brh-participant-stats>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="viewProfile.emit(participant.player)">View Profile</button>
      <button mat-button (click)="viewBattlerites.emit(participant.player)">View Battlerites</button>
    </mat-card-actions>
  </mat-card>
</div>
