:host() {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container {
  max-width: var(--bp-small);
  padding: 8px;
  width: 100%;
}

.mat-card .mat-card-avatar.mat-icon {
  color: var(--mvp-gold);
  font-size: 32px;
  line-height: 40px;
}

.mat-card .mat-card-image {
  margin-bottom: 8px;
  max-height: 150px;
  object-fit: cover;
}

brh-participant-stats ::ng-deep .avatar {
  display: none;
}

@media all and (min-width: 46.8em) {
  :host() {
    flex-direction: row;
  }
  .card-container {
    padding: 0 8px;
  }
}