:host() {
  display: block;
  padding: 4px;
  box-sizing: border-box;
}

.mat-card {
  border-left: 4px solid transparent;
  box-sizing: border-box;
}

.mat-card.mvp {
  border-left-color: gold;
}

.mat-card-content {
  word-wrap: break-word;
}
