<div class="summary-item">
  <mat-card>
    <mat-card-title>Quickmatch</mat-card-title>
    <mat-card-content>
      <dl>
        <dt>2v2</dt>
        <dd>
          <brh-winlose [wins]="player.stats.unranked2V2Wins" [losses]="player.stats.unranked2V2Losses"></brh-winlose>
        </dd>
        <dt>3v3</dt>
        <dd>
          <brh-winlose [wins]="player.stats.unranked3V3Wins" [losses]="player.stats.unranked3V3Losses"></brh-winlose>
        </dd>
      </dl>
    </mat-card-content>
  </mat-card>
</div>
<div class="summary-item">
  <mat-card>
    <mat-card-title>League</mat-card-title>
    <mat-card-content>
      <dl>
        <dt>2v2</dt>
        <dd>
          <brh-winlose [wins]="player.stats.ranked2V2Wins" [losses]="player.stats.ranked2V2Losses"></brh-winlose>
        </dd>
        <dt>3v3</dt>
        <dd>
          <brh-winlose [wins]="player.stats.ranked3V3Wins" [losses]="player.stats.ranked3V3Losses"></brh-winlose>
        </dd>
      </dl>
    </mat-card-content>
  </mat-card>
</div>

<!-- {{player.stats|json}} -->
