html, body {
  height: 100%;
}

body {
  //font-family: 'Roboto', sans-serif;
  font-family: 'Hind', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  //font-family: 'Raleway', serif;
  font-family: 'Montserrat', sans-serif;
}

@import '~@angular/material/theming';
@include mat-core();

$battlelegend-primary: mat-palette($mat-indigo);
$battlelegend-accent:  mat-palette($mat-pink, A200, A100, A400);

$battlelegend-theme: mat-light-theme($battlelegend-primary, $battlelegend-accent);

@include angular-material-theme($battlelegend-theme);
