html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', serif;
}

@import '~@angular/material/theming';
@include mat-core();

$br-history-primary: mat-palette($mat-indigo);
$br-history-accent:  mat-palette($mat-pink, A200, A100, A400);

$br-history-theme: mat-light-theme($br-history-primary, $br-history-accent);

@include angular-material-theme($br-history-theme);
