:host() {
  display: block;
  min-width: 300px;
  padding: 16px;
}

.mat-form-field {
  width: 100%;
}

:host() ::ng-deep .mat-form-field-prefix {
  align-self: center;
  display: flex;
}

:host() ::ng-deep .mat-form-field-prefix .mat-icon {
  height: 0.5em;
}

:host() ::ng-deep .mat-form-field-placeholder {
  color: currentColor;
}

:host() ::ng-deep .mat-form-field-underline {
  background-color: #fff;
}