:host() {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-toolbar {
  display: flex;
  flex-direction: row;
  padding: 0.67em 0;
}

.summary .title {
  font-family: 'Raleway', serif;
  border-right: 1px solid #000000;
  font-size: 20px;
  font-weight: 500;
  margin-right: 1.34em;
  padding-right: 1.34em;
}

.summary .title,
.summary .stat {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1.34em;
}

.summary .stat {
  font-size: 14px;
  line-height: 16px;
}

.summary .stat div:first-of-type {
  font-weight: 500;
  text-transform: uppercase;
}

.summary .refresh {
  align-items: center;
  display: flex;
  flex: 1 1 0;
  justify-content: flex-end;
}

.summary .refresh .mat-icon {
  height: 24px;
}

.history {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0.67em;
}

.mat-nav-list {
  padding-top: 0;
}

.mat-list-item {
  border-left: 4px solid transparent;
  width: 100%;
}

.mat-list-item {
  border-left-color: var(--lose-red);
}

.mat-list-item.won {
  border-left-color: var(--win-green);
}

.mat-list-item.selected {
  background: rgba(0, 0, 0, 0.10);
}

.mat-list-item-content {
  display: flex;
  flex-direction: row;
}

.history .where {
  width: 40%;
}

.history .where > *,
.history .when > * {
  margin: 8px 0;
}

.history .where h4 {
  margin-bottom: 16px;
}

.history .when {
  text-align: center;
  width: 40%;
}

.history .stats {
  text-align: right;
  width: 20%;
}

.history .nomatch {
  text-align: center;
  font-size: 24px;
}
