<mat-toolbar class="summary">
  <mat-toolbar-row *ngIf="hasStats">
    <h3 class="title">Session Stats:</h3>
    <div class="stat">
      <div>Kills</div>
      <div>{{matches | reduceStat:'kills':player.id}}</div>
    </div>
    <div class="stat">
      <div>Deaths</div>
      <div>{{matches | reduceStat:'deaths':player.id}}</div>
    </div>
    <div class="stat">
      <div>Avg Score</div>
      <div>{{ matches | reduceStat:'score':player.id:'average' }}</div>
    </div>
    <div class="stat">
      <div>W/L Ratio</div>
      <div>{{ wlRatio }}</div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="!hasStats">
    <div class="title">Session Stats:</div>
    <div class="stat">Couldn't load stats</div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="history">
  <mat-nav-list>
    <a mat-list-item *ngFor="let m of matches" (click)="select(m)" [ngClass]="{'won': isWinner(m), 'selected': !!match && m.id === match.id }">
      <div class="where">
        <h4 mat-line>{{m.matchType}}</h4>
        <p mat-line *ngIf="m.map">{{m.map.name}}</p>
      </div>
      <div class="when">
        <p mat-line>{{m.createdAt | date:'EEE, M/d/yy'}}</p>
        <p mat-line>{{m.createdAt | date:'shortTime'}}</p>
      </div>
      <div class="stats">
        <!-- <p mat-line *ngIf="kdRatio(m)">K/D: {{kdRatio(m)}}</p> -->
        <p mat-line *ngIf="hasStats">Score: {{ m | reduceStat:'score':player.id }}</p>
      </div>
    </a>
  </mat-nav-list>
  <div class="details">
    <div class="nomatch" *ngIf="!match">Select a match</div>
    <brh-match-details *ngIf="match" [match]="match" [player]="player" (viewProfile)="profile($event)" (openMatch)="open($event)"></brh-match-details>
  </div>
</div>
