:host() {
  display: flex;
  flex-direction: column;
}

.summary {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 16px 16px 16px 0;
}

.summary .title {
  font-size: 20px;
  font-weight: 500;
  border-right: 1px solid #000000;
  padding-right: 32px;
}

.summary > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 32px;
}

.summary .stat div:first-of-type {
  text-transform: uppercase;
}

.history {
  display: flex;
  flex-direction: row;
}

.mat-nav-list {
  width: 40%;
}

.mat-list-item {
  border-left: 4px solid transparent;
  width: 100%;
}

.mat-list-item.won {
  border-left-color: gold;
}

.mat-list-item.selected {
  background: rgba(0, 0, 0, 0.10);
}

.mat-list-item-content {
  display: flex;
  flex-direction: row;
}

.history .where {
  width: 40%;
}

.history .when {
  text-align: center;
  width: 40%;
}

.history .stats {
  text-align: right;
  width: 20%;
}

.history .details {
  width: 60%;
}
