<mat-toolbar class="summary">
  <mat-toolbar-row *ngIf="hasStats">
    <h3 class="title">Session Stats:</h3>
    <div class="stat">
      <div>Avg Score</div>
      <div>{{ matches | reduceStat:'score':player.id:'average' }}</div>
    </div>
    <div class="stat">
      <div>W/L Ratio</div>
      <div>{{ wlRatio }}</div>
    </div>
    <div class="stat">
      <div>Win Streak</div>
      <div>{{ winStreak }}</div>
    </div>
    <div class="refresh">
      <countdown-timer *ngIf="!canRefresh" [end]="refreshTime"></countdown-timer>
      <button mat-icon-button color="primary" (click)="reloadMatches(player.id)" [disabled]="!canRefresh">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="!hasStats">
    <div class="title">Session Stats:</div>
    <div class="stat">Couldn't load stats</div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="history">
  <split direction="horizontal">
    <split-area [size]="historyWidth">
      <mat-nav-list>
        <a mat-list-item *ngFor="let m of matches" (click)="selectMatch(m)" [ngClass]="{'won': isWinner(m), 'selected': !!match && m.id === match.id }">
          <div class="where">
            <h4 mat-line>{{ m.matchType }}</h4>
            <p mat-line *ngIf="m.map">{{ m.map.name }}</p>
            <p mat-line>{{ getPlayerParticipant(m)?.champion.name }}</p>
          </div>
          <div class="when">
            <p mat-line>{{ m.createdAt | date:'EEE, M/d/yy' }}</p>
            <p mat-line>{{ m.createdAt | date:'shortTime' }}</p>
          </div>
          <div class="stats">
            <p *ngIf="hasStats">Score: {{ m | reduceStat:'score':player.id }}</p>
          </div>
        </a>
      </mat-nav-list>
    </split-area>
    <split-area size="60">
      <div class="nomatch" *ngIf="!match">Select a match</div>
      <brh-match-details *ngIf="match" [match]="match" [player]="player" (viewProfile)="viewProfile.emit($event)" (openMatch)="openMatch($event)"></brh-match-details>
    </split-area>
  </split>
</div>
