<mat-toolbar>
  <div class="team-filter">
    <mat-button-toggle-group #teamFilter="matButtonToggleGroup">
      <mat-button-toggle value="" checked="true">All</mat-button-toggle>
      <mat-button-toggle value="2v2">2v2</mat-button-toggle>
      <mat-button-toggle value="3v3">3v3</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="team-search">
    <mat-form-field floatPlaceholder="never">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="search" placeholder="Find Team" #teamSearch>
      <button mat-button *ngIf="teamSearch.value" matSuffix mat-icon-button aria-label="Clear" (click)="teamSearch.value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</mat-toolbar>

<div class="team-container" *ngFor="let team of rankedTeams">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>
        <span>{{ team.name }}</span>
      </mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      {{ team | json }}
    </mat-card-content>
  </mat-card>
</div>
